*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}
 
.login-container{
    background: #fff;
    padding: 2rem;
    border-radius: 1.2rem;
    width: 350px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
    text-align: center;
    animation: fadeIn 0.6s ease;

}

.login-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color:#333;
}

.inputGroup {
   position: relative;
    margin-bottom: 1.5rem;
}

.inputGroup input {
     width: 100%;
     padding: 1rem 1rem 0.5rem 1rem;
     border-radius: 0.7rem;
     border: 1px solid #ccc;
     outline: none;
     font-size: 1rem;
     transition: border-color 0.3s ease;
}

.inputGroup label {
    position:absolute;
    top: 12px;
    left:0;
    margin-left: 10px;
    color: #777;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.3s ease;
    background: #fff;
    padding: 0 4px;
}

.inputGroup input:focus ~ label,
.inputGroup input:not(:placeholder-shown) ~ label {
    top: -8px;
    font-size: 14px;
    color: #007bff;
 }
 .inputGroup input:focus{
    border-color: #2575fc;
    box-shadow: 0 0 5px rgba(37,117,252,0.3);
 }

.sumbit-btn {
    width: 100%;
    padding: 0.9rem;
    background: linear-gradient(135deg, #6a11cb,#2575fc);
    border: none;
    border-radius: 0.7rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: transfrom 0.2s ease , box-shadow 0.3s ease;
}
 .sumbit-btn:hover{
    transform:  translateY(-2px);
    box-shadow: 0 5px 15px rgba(37,117,252,0.3);
 }
 
 .links{
    margin-top: 1rem;
    font-size: 0.9rem;

 }

 .link a {
    color: #2575fc;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
 }
.links a:hover{
    color: #6a11cb;
}


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}








































